/*==================
-- banner css --
===================*/
.banner-full{
   height: 100vh;
   background-repeat: no-repeat;
   background-position: center;
   background-size: cover;
   overflow: hidden;
   .banner-left{
      .details{
         padding-right: 120px;
         h3{
            font-size: 24px;
            color: #6f6b80;
            font-weight: 400;
            margin-bottom: 15px;
         }
         h1{
            font-size: 60px;
            font-weight: 500;
            margin-bottom: 20px;
         }
         .type{
            p{
               font-size: 24px;
               font-weight: 500;
               span{
                  color: #6138bd;
               }
               margin-bottom: 20px;
            }
         }
         .text{
            font-size: 18px;
            margin-bottom: 30px;
         }
         .cv-btn{
            position: relative;
            a{
               text-decoration: none;
               border: 2px solid #6138bd;
               border-radius: 50px;
               padding: 10px 30px;
               position: relative;
               overflow: hidden;
               display: inline-block;
               color: #6138bd;
               z-index: 9;
               font-size: 16px;
               font-weight: 500;
               transition: all .3s ease;
               &:before {
                  position: absolute;
                  content: "";
                  z-index: -1;
                  background-color: #6138bd;
                  border: 2px solid #6138bd;
                  left: -5px;
                  right: -5px;
                  bottom: -5px;
                  height: 0;
                  transition: all .3s ease;
               }span{
                  color: #6138bd;
               }
               &:hover {
                  color: #fff;
                  &:before {
                     height: 115%;
                     border: 2px solid #6138bd;
                  }
                  span {
                     color: #fff;
                  }
               }
            }
         }
      }
   }
   .banner-right{
      position: relative;
      &::before{
         position: absolute;
         content: ' ';
         bottom: -350px;
         left: -140px;
         background-image: url('../img/banner-arrow.png');
         width: 100%;
         height: 100%;
         background-repeat: no-repeat;

      }
      .image-box{
         max-width: 500px;
         max-height: 650px;
         text-align: center;
         margin: auto;
         position: relative;
         img{
            max-width: 100%;
         }
         .image-card{
            position: absolute;
            top: calc(50% - 90px);
            left: -140px;
            text-align: left;
            padding-left: 25px;
            padding-right: 25px;
            padding-top: 25px;
            padding-bottom: 25px;
            max-width: 200px;
            // height: 20px;
            background-color: #ffffff;
            border-radius: 15px;
            // -webkit-box-shadow: 0px 0px 62px 0px rgb(0 0 0 23%);
            // box-shadow: 0px 0px 62px 0px rgb(0 0 0 23%)
            .image-icon{
               position: relative;
               top: -4px;
               left: -55px;
               span{
                  position: absolute;
                  border-radius: 50%;
                  background-color: #6138bd;
                  width: 60px;
                  height: 60px;
                  line-height: 60px;
                  display: block;
                  text-align: center;
                  font-size: 22px;
                  font-weight: 500;
                  color: #ffffff;
               }
            }
            .star{
               padding-left: 15px;
               i, svg{
                  color: #fda000;
               }
            }
            .btn-trans{
               font-weight: 500;
               padding: 0px;
               padding-left: 15px;
               color: #161c2d;
            }
         }
      }

   }
}
/*-------------------------------
   About  Section  CSS
-------------------------------*/
.about-full{
   padding: 100px 0px;
   .about-left{
      .content-inner{
         position: relative;
      }
      .image-box{
         max-width: 500px;
         margin-left: auto;
         border-radius: 15px;
         img{
            border-radius: 15px;
            width: 100%;
         }
      }
      .box-expereince{
         position: absolute;
         top: 95px;
         left: 0px;
         max-width: 160px;
         background-color: #6138bd;
         border-radius: 15px;
         padding: 25px;
         font-family: 'Rubik', sans-serif;
         span{
            font-size: 50px;
            font-weight: 600;
            color: #fff;
         }
         h6{
            font-size: 18px;
            line-height: 1.2;
            color: #fff;
            text-transform: uppercase;
            font-family: 'Rubik', sans-serif;
         }
      }
      .box-success{
         position: absolute;
         bottom: -25px;
         right: 160px;
         background-color: #fff;
         border-radius: 15px;
         padding: 15px 25px;
         max-width: 200px;
         font-family: 'Rubik', sans-serif;
         .shape-round{
            position: relative;
            top: -4px;
            left: -55px;
            span{
               position: absolute;
               border-radius: 50%;
               background-color: #6138bd;
               width: 50px;
               height: 50px;
               line-height: 50px;
               display: block;
               text-align: center;
               font-size: 20px;
               font-weight: 500;
               color: #ffffff;
               letter-spacing: 1px;
            }
         }
         .description{
            h6{
               font-size: 16px;
               font-weight: 500;
               margin-bottom: 0px;
               text-transform: capitalize;
            }
            p{
               font-size: 14px;
               color: #6f6b80;
               font-weight: 500;
               text-transform: capitalize;
            }
         }
      }
   }
   .about-right{
      .about-content{
         .title{
            padding: 0px;
         }
         .description{
            margin-top: 25px;
         }
         .information{
            margin-top: 25px;
            .personal-detail-title {
               width: 168px;
               float: left;
               font-weight: 500;
               padding-right: 10px;
               position: relative;
               display: block;
               font-size: 16px;
               &:after {
                  content: ":";
                  position: absolute;
                  right: 0;
                  top: 0;
               }
            }
            .personal-detail-info {
               padding-left: 190px;
               display: block;
               font-weight: 500;
               font-size: 16px;
               color: #6f6b80;
           }           
         }
      }
   }
   .skill-full{
      margin-top: 100px;
      position: relative;
      padding: 0px 60px ;
      .skill-card{
         max-width: 100%;
         width: 100%;
         margin-top: 15px;
         margin-right: 15px;
         .skill-box{
            border-radius: 15px;
            background: #fff;
            // box-shadow: 0 .125rem .25rem rgba(0,0,0,.075);
            position: relative;
            margin-left: 30px;
            // background-color: rgba(230, 227, 252, 0.74);
            border: 1px solid #e3ebf6;
            .image-icon{
               position: absolute;
               top: 8px;
               left: -30px;
               span{
                  position: relative;
                  border-radius: 50%;
                  // background-color: rgba(230, 227, 252, 0.74);
                  // border: 1px solid #6138bd;
                  background: #fff;
                  width: 50px;
                  height: 50px;
                  line-height: 50px;
                  display: block;
                  text-align: center;
                  font-size: 22px;
                  font-weight: 500;
                  color: #ffffff;
                  border: 1px solid #e3ebf6;
                  img{
                     width: 25px;
                     height: 25px;
                     margin-top: 12px;
                     margin-left: 12px;
                  }
               }
            }
            .skill-destails{
               padding-left: 25px;
               padding-top: 10px;
               padding-bottom: 10px;
               padding-right: 10px;
               .sm-title{
                  h6{
                     font-size: 16px;
                     font-weight: 500;
                     margin-bottom: 10px;
                     text-transform: capitalize;
                  }
               }
               .progress{
                  background-color: #f5f6fa;
               }
               h4{
                  margin-top: 15px;
                  font-size: 14px;
                  color: #6f6b80;
               }
            }
         }
      }
   }
   .owl-carousel {
      position: inherit;
      .owl-nav{
         .owl-prev{
            position: absolute;
            top: 50%;
            transform: translateY(-50%);
            left: -60px;
            background: rgba(230, 227, 252, 0.74);
            width: 40px;
            height: 40px;
            border-radius: 50%;
            svg, i{
               color: #6138bd;
               font-size: 14px;
            }
         }
         .owl-next{
            position: absolute;
            top: 50%;
            transform: translateY(-50%);
            right: -60px;
            background: rgba(230, 227, 252, 0.74);
            width: 40px;
            height: 40px;
            border-radius: 50%;
            svg, i{
               color: #6138bd;
               font-size: 14px;
            }
         }
      }
   }
}

/*-------------------------------
   Service  Section  CSS
-------------------------------*/
.service-full{
   padding: 100px 0px 100px 0px;
   background-color: #f9fbfd;
   .service-image-box{
      position: relative;
      padding: 0px 30px;
      // margin-top: 100px;
      img{
         max-width: 320px;
         border-radius: 25px;
         transform: rotate(-7deg);
         z-index: 9;
         margin-left: auto;
      }
      .image-shape{
         position: absolute;
         top: 23px;
         bottom: -23px;
         right: 20px;
         width: 60%;
         background-color: rgba(96, 56, 189, 0.712);
         transform: rotate(6deg);
         border-radius: 25px;
         transition: all .4s ease;
      }
      .service-video{
         position: absolute;
         top: 50%;
         left: 50%;
         transform: translateX(-50%) translateY(-50%);
      }
   }
   .left-service{
      .service-item:nth-child(2) {
         transform: translateX(-50px);
      }
      .service-item{
         margin-top: 45px;
         &:first-child{
            margin-top: 0px;
         }
      }
   }
   .right-service{
      .service-item:nth-child(2) {
         transform: translateX(50px);
      }
      .service-item{
         margin-top: 45px;
         &:first-child{
            margin-top: 0px;
         }
      }
   }
   .service-card{
      background-color: #fff;
      border-radius: 25px;
      padding: 25px 25px 25px 25px;
      box-shadow: 0 .125rem .25rem rgba(0,0,0,.075);
      position: relative;
      display: flex;
      justify-content: space-between;
      align-items: center;
      .description{
         max-width: calc(100% - 85px);
         h3{
            font-size: 22px;
            margin-bottom: 5px;
            text-transform: capitalize;
         }
      }
   }
   .icon-box{
      border-radius: 10px;
      max-width: 60px;
      width: 60px;
      height: 60px;
      line-height: 60px;
      display: block;
      text-align: center;
      font-size: 20px;
      font-weight: 500;
   }
}
/*-------------------------------
   Project  Section  CSS
-------------------------------*/
.project-full{
   padding: 100px 0px 100px 0px;
   .filter-options{
      list-style: none;
      margin: 0px;
      padding: 0px;
      display: flex;
      width: 100%;
      border-bottom: 1px dashed #e3ebf6;
      li{
         padding: 10px 14px;
         font-size: 16px;
         font-weight: 400;
         font-family: 'Rubik', sans-serif;
         color: #161c2d;
         position: relative;
         transition: 0.3s ease-in-out;
         &.active {
            border-bottom: 1px solid #6138bd;
            margin-bottom: -1px;
            color: #6138bd;
            font-weight: 500;
            &::after{
               position: absolute;
               content: '';
               width: 28px;
               left: 0px;
               top: 50%;
               z-index: -2;
               transform: translateY(-50%);
               height: 20px;
               border-radius: 30% 70% 70% 30% / 35% 44% 56% 65%;
               background-color: rgba(230, 227, 252, 0.74);
            }
         }
      }
   }
   .picture-item{
      .project-card{
         overflow: hidden;
         cursor: pointer;
         border-radius: 25px;
         box-shadow: 0px 0px 15px rgba(0,0,0,.075);
         border: 0px;
         position: relative;
         .image-box{
            border-radius: 25px;
            position: relative;
            img{
               border-radius: 25px;
               transition: all linear 0.3s;
            }
            &:before{
               position: absolute;
               top: 0;
               left: -85%;
               z-index: 2;
               display: block;
               content: '';
               width: 50%;
               height: 100%;
               background: -o-linear-gradient(left, rgba(255, 255, 255, 0) 0%, rgba(255, 255, 255, .3) 100%);
               background: -webkit-gradient(linear, left top, right top, from(rgba(255, 255, 255, 0)), to(rgba(255, 255, 255, .3)));
               background: linear-gradient(to right, rgba(255, 255, 255, 0) 0%, rgba(255, 255, 255, .3) 100%);
               -webkit-transform: skewX(-25deg);
               -ms-transform: skewX(-25deg);
               transform: skewX(-25deg);
               z-index: 1;
            }
         }
         .type-name{
            position: absolute;
            background: #6138bd;
            border-bottom-left-radius: 15px;
            border-bottom-right-radius: 15px;
            font-size: 13px;
            display: inline-block;
            padding: 5px 10px;
            top: 0;
            right: 20px;
            color: #fff;
            font-weight: 500;
            font-family: 'Rubik', sans-serif;
            transform: translateY(0px);
            text-transform: capitalize;
            z-index: 9;
         }
         .mask{
            position: absolute;
            width: 100%;
            height: 100%;
            background: rgba(0,0,0,0.7);
            border-radius: 25px;
            top: 0;
            left: 0;
            right: 0;
            bottom: 0;
            transition: all linear 0.3s;
            opacity: 0;
         }
         .project-overlay{
            position: absolute;
            width: 100%;
            height: 100%;
            border-radius: 25px;
            top: 0;
            left: 0;
            right: 0;
            bottom: 0;
            padding: 25px;
            display: flex;
            flex-direction: column;
            align-content: center;
            justify-content: center;
            opacity: 0;
            transition: all linear 0.3s;
            z-index: 5;
            .icon{
               position: absolute;
               left: 25px;
               bottom: 25px;
               border-radius: 10px;
               max-width: 40px;
               width: 40px;
               height: 40px;
               line-height: 40px;
               display: block;
               text-align: center;
               font-size: 16px;
               font-weight: 500;
               background: #6138bd;
               opacity: 1;
               z-index: 9;
               i,svg{
                  color: #fff;
               }
            }
            h3{
               text-align: center;
               color: #fff;
               font-size: 18px;
               font-weight: 400;
            }
         }
         &:hover{
            .image-box{
               &:before{
                  animation: shine 1s;
               }
               img {
                  transform: scale(1.06,1.06) rotate(2deg);
               }
            }
            .mask{
               opacity: 1;
            }
            .project-overlay{
               opacity: 1;
            }
         }
      }
   }
   .view-more-btn{
      text-align: center;
   }
}

.client-full{
   padding: 100px 0px 100px 0px;
   background: #f9fbfd url('../img/shape2.svg') no-repeat;
   // background-color: #f9fbfd;
   .slider-wrap{
      max-width: 80%;
      margin: auto;
      position: relative;
      .owl-carousel {
         position: inherit;
         .owl-nav{
            .owl-prev{
               position: absolute;
               top: 50%;
               transform: translateY(-50%);
               left: -12%;
               background: rgba(230, 227, 252, 0.74);
               width: 40px;
               height: 40px;
               border-radius: 50%;
               margin-left: -5px;
               svg, i{
                  color: #6138bd;
                  font-size: 14px;
               }
            }
            .owl-next{
               position: absolute;
               top: 50%;
               transform: translateY(-50%);
               right: -12%;
               background: rgba(230, 227, 252, 0.74);
               width: 40px;
               height: 40px;
               border-radius: 50%;
               margin-right: -5px;
               svg, i{
                  color: #6138bd;
                  font-size: 14px;
               }
            }
         }
      }
   }
   .clients-slider{
      position: inherit;
      .slider-items{
         display: flex;
         margin: auto;
         max-width: 100%;
         align-items: center;
         .image-box{
            max-width: 30%;
            width: 100%;
            position: relative;
            img{
               border-radius: 25px;
            }
            .star{
               position: absolute;
               background: #fff;
               border-top-left-radius: 15px;
               border-top-right-radius: 15px;
               font-size: 13px;
               display: inline-block;
               padding: 5px 10px;
               bottom: 0px;
               right: 50%;
               color: #fff;
               font-weight: 500;
               font-family: 'Rubik', sans-serif;
               transform: translateX(50%);
               text-transform: capitalize;
               z-index: 9;
               i,svg{
                 color : #fda000;
               }
            }
         }
         .content-wrap{
            margin-left: 35px;
            max-width: 65%;
            padding: 25px;
            z-index: 9;
            .quote{
               position: relative;
               font-size: 18px;
               font-style: italic;
               .icon-one{
                  color: #f5ecfd;
                  margin-top: 10px;
                  i,svg{
                     font-size: 50px;
                  }
               }
            }
            .client-info{
               position: relative;
               padding-left: 100px;
               margin-top: 30px;
               &:after {
                  position: absolute;
                  top: 15px;
                  left: 0;
                  content: "";
                  width: 70px;
                  height: 3px;
                  background-color: #6138bd;
                }
               &:before {
                  position: absolute;
                  top: 15px;
                  left: 75px;
                  content: "";
                  width: 6px;
                  height: 3px;
                  background-color: #6138bd;
                }
               .client-name{
                  font-size: 20px;
                  color: #161c2d;
                  font-weight: 500;
               }
               .client-role{
                  font-size: 16px;
               }
            }
         }
      }
   }
}
.blog-full{
   padding: 100px 0px 100px 0px;
}
.blog-card{
   overflow: hidden;
   cursor: pointer;
   border-radius: 25px;
   box-shadow: 0px 0px 15px rgba(0,0,0,.075);
   border: 0px;
   position: relative;
   .blog-content{
      padding: 25px;
      font-size: 18px;
      h3{
         font-size: 18px;
      }
      .blog-link{
         text-decoration: none;
         transition: all linear 0.3s;
      }
   }
   .image-box{
      overflow: hidden;
      border-radius: 25px;
      border: 0px;
      position: relative;
      &:before{
         position: absolute;
         top: 0;
         left: -85%;
         z-index: 2;
         display: block;
         content: '';
         width: 50%;
         height: 100%;
         background: linear-gradient(to right, rgba(255, 255, 255, 0) 0%, rgba(255, 255, 255, .3) 100%);
         transform: skewX(-25deg);
         z-index: 1;
         transition: all 0.3s ease-in-out;
      }
      .tag{
         position: absolute;
         background: #6138bd;
         border-top-left-radius: 15px;
         border-top-right-radius: 15px;
         font-size: 13px;
         display: inline-block;
         padding: 5px 10px;
         bottom: 0;
         left: 25px;
         color: #fff;
         font-weight: 500;
         font-family: 'Rubik', sans-serif;
         transform: translateY(0px);
         text-transform: capitalize;
         z-index: 9;
      }
      .date{
         position: absolute;
         background: #6138bd;
         border-radius: 15px;
         font-size: 13px;
         display: inline-block;
         padding: 10px 15px;
         top: 25px;
         right: 25px;
         color: #fff;
         font-weight: 500;
         font-family: 'Rubik', sans-serif;
         transform: translateY(0px);
         text-transform: capitalize;
         text-align: center;
         z-index: 9;
         line-height: 1;
         strong{
            font-size: 24px;
            display: block;
         }
      }
      .mask{
         position: absolute;
         width: 100%;
         height: 100%;
         background: rgba(0,0,0,0.2);
         border-radius: 25px;
         top: 0;
         left: 0;
         right: 0;
         bottom: 0;
         transition: all linear 0.3s;
      }
   }
   &:hover{
      .image-box{
         &:before{
            animation: shine 1s;
         }
         img {
            transition: all 0.3s ease-in-out;
            transform: scale(1.06,1.06) rotate(2deg);
         }
      }
      .blog-content{
         .blog-link{
            color: #6138bd;
            h3{
               color: #6138bd;
            }
         }
      }
   }
}