@import './variables';

/*==========
-- root css --
==========*/
:root{
     --base-color: #fff;
}

/*==================
-- common css --
===================*/

body{
     padding: 0;
     margin: 0;
}