.btn{
   border: 0px;
   &:focus{
      box-shadow: none;
      border: 0px;
   }
   text-transform: capitalize;
}

.btn-sm{
   padding: 8px 15px !important;
   font-size: 14px !important;
   font-weight: 400 !important;
   line-height: 1.5 !important;
}
.btn-base{
   border : 1px solid #6138bd;
   color : #6138bd;
   &:hover{
      border : 1px solid #6138bd;
      color : #fff;
      background-color: #6138bd;
   }
   &:focus{
      border : 1px solid #6138bd;
      color : #fff;
      background-color: #6138bd;
   }
}
.base-btn{
   background-color: #f5ecfd;
   position: relative;
   overflow: hidden;
   z-index: 9;
   transition: all .3s ease;
   span{
      color: #6138bd;
   }
   &:before {
      position: absolute;
      content: "";
      z-index: -1;
      background-color: #6138bd;
      left: -5px;
      right: -5px;
      bottom: -5px;
      height: 0;
      transition: all .3s ease;
   }
   &:hover{
      span{
         color: #fff;
      }
      &:before{
         height: 115%;
      }
   }
}