/*==========
-- root css --
==========*/
:root {
  --base-color: #fff;
}

/*==================
-- common css --
===================*/
body {
  padding: 0;
  margin: 0;
  font-family: 'Rubik', sans-serif;
  color: #161c2d;
}

img {
  max-width: 100%;
  height: auto;
}

.btn {
  border: 0px;
  text-transform: capitalize;
}

.btn:focus {
  -webkit-box-shadow: none;
          box-shadow: none;
  border: 0px;
}

.btn-sm {
  padding: 8px 15px !important;
  font-size: 14px !important;
  font-weight: 400 !important;
  line-height: 1.5 !important;
}

/*==================
-- header css --
===================*/
.header-full {
  padding: 15px 0px;
  position: fixed;
  width: 100%;
  z-index: 999;
}

.header-full .navbar {
  padding: 0px;
}

.header-full .navbar .nav-item {
  position: relative;
  z-index: 9;
  margin: 0 30px 0 0;
}

.header-full .navbar .nav-item:last-child {
  margin: 0;
}

.header-full .navbar .nav-item .nav-link {
  padding: 0px 0px;
  font-family: 'Rubik', sans-serif;
  font-size: 16px;
  font-weight: 500;
  line-height: 30px;
  color: #161c2d;
}

.header-full .navbar .nav-item .active {
  color: #6138bd;
}

.header-full .navbar .nav-item .active::after {
  position: absolute;
  content: '';
  width: 28px;
  left: -10px;
  top: 50%;
  z-index: -2;
  -webkit-transform: translateY(-50%);
          transform: translateY(-50%);
  height: 20px;
  border-radius: 30% 70% 70% 30% / 35% 44% 56% 65%;
  background-color: rgba(230, 227, 252, 0.74);
}

.header-full .navbar .nav-item.hire-btn .nav-link {
  background-color: #6138bd;
  color: #fff;
}

.header-full .logo {
  max-width: 25%;
}

.header-full .logo img {
  width: 100%;
  height: 100%;
  max-width: 150px;
  max-height: 80px;
}

@media only screen and (max-width: 991px) {
  .header-full {
    height: 60px;
    padding: 0px 0px;
    background-color: #fff;
  }
  .header-full .container {
    max-width: 991px;
  }
  .header-full .navbar {
    padding: 0px;
    -webkit-box-align: center;
        -ms-flex-align: center;
            align-items: center;
    height: 60px;
    border-bottom: 1px solid rgba(0, 0, 0, 0.1);
  }
  .header-full .navbar .navbar-collapse {
    position: absolute;
    left: 0;
    top: 60px;
    background-color: #fff;
    width: 100%;
  }
  .header-full .navbar .nav-item {
    position: relative;
    z-index: 9;
    margin: 0 0px 0 0;
    text-align: left;
    margin-right: 25px;
    margin-left: 25px;
    margin-bottom: 8px;
  }
  .header-full .navbar .nav-item:first-child {
    margin-right: 25px;
    margin-left: 25px;
    margin-top: 25px;
  }
  .header-full .navbar .nav-item:last-child {
    margin-right: 25px;
    margin-left: 25px;
    margin-bottom: 25px;
  }
  .header-full .navbar .nav-item .nav-link {
    padding: 0px 0px;
    font-family: 'Rubik', sans-serif;
    font-size: 14px;
    font-weight: 500;
    line-height: 30px;
    color: #161c2d;
  }
  .header-full .navbar .nav-item .active {
    color: #6138bd;
  }
  .header-full .navbar .nav-item .active::after {
    position: absolute;
    content: '';
    width: 28px;
    left: -10px;
    top: 50%;
    z-index: -2;
    -webkit-transform: translateY(-50%);
            transform: translateY(-50%);
    height: 20px;
    border-radius: 30% 70% 70% 30% / 35% 44% 56% 65%;
    background-color: rgba(230, 227, 252, 0.74);
  }
  .header-full .navbar .nav-item.hire-btn {
    display: inline-block;
  }
  .header-full .navbar .nav-item.hire-btn .nav-link {
    background-color: #6138bd;
    color: #fff;
  }
  .header-full .navbar .nav-item.hire-btn .nav-link.btn-sm {
    display: inline-block;
    padding: 5px 12px !important;
  }
  .header-full .logo {
    padding: 0px;
  }
  .header-full .logo img {
    width: 100%;
    height: 100%;
    max-width: 100px;
    max-height: 50px;
  }
  .header-full .navbar-toggler {
    border: 0px;
    padding: 0px;
  }
  .header-full .navbar-toggler:focus {
    border: 0px;
    -webkit-box-shadow: none;
            box-shadow: none;
  }
}

/*==================
-- banner css --
===================*/
.banner-full {
  height: 100vh;
  background-repeat: no-repeat;
  background-position: center;
  background-size: cover;
  overflow: hidden;
}

.banner-full .banner-right {
  position: relative;
}

.banner-full .banner-right::before {
  position: absolute;
  content: ' ';
  bottom: -350px;
  left: -140px;
  background-image: url("../img/banner-arrow.png");
  width: 100%;
  height: 100%;
  background-repeat: no-repeat;
}

.banner-full .banner-right .image-box {
  max-width: 500px;
  max-height: 650px;
  text-align: center;
  margin: auto;
  position: relative;
}

.banner-full .banner-right .image-box img {
  max-width: 100%;
}

.banner-full .banner-right .image-box .image-card {
  position: absolute;
  top: calc(50% - 90px);
  left: -160px;
  text-align: left;
  padding-left: 25px;
  padding-right: 25px;
  padding-top: 25px;
  padding-bottom: 25px;
  width: 200px;
  background-color: #ffffff;
  border-radius: 5px;
}

.banner-full .banner-right .image-box .image-card .image-icon {
  position: relative;
  top: -4px;
  left: -55px;
}

.banner-full .banner-right .image-box .image-card .image-icon span {
  position: absolute;
  border-radius: 50%;
  background-color: #6138bd;
  width: 60px;
  height: 60px;
  line-height: 60px;
  display: block;
  text-align: center;
  font-size: 22px;
  font-weight: 500;
  color: #ffffff;
}

.banner-full .banner-right .image-box .image-card .star {
  padding-left: 15px;
}

.banner-full .banner-right .image-box .image-card .star i, .banner-full .banner-right .image-box .image-card .star svg {
  color: #fda000;
}

.banner-full .banner-right .image-box .image-card .btn-trans {
  font-weight: 500;
  padding: 0px;
  padding-left: 15px;
  color: #161c2d;
}
